{% extends 'VMCoreBundle::layout.html.twig' %}
{% block title %}Espace prestataire{% endblock %}
{% block bodyWithoutFooter %}
{{ parent() }}
<section id="services" class="container content-section text-center ">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">	
			<p> Consulter et gérer vos services</p>
			<div class="table-responsive">
				<table class="table table-bordered fondtableau">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Service</th>
							<th class="text-center">Description</th>
							<th class="text-center">Type de service</th>
							<th class="text-center">Prix</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{% if lesServicesPrestataire %}
						{% for ServicePrestataire in lesServicesPrestataire %}
						<tr>
							<th scope="row">{{ ServicePrestataire.idService }}</th>
							<td>{{ ServicePrestataire.libelleService }}</td>				
							<td>{{ ServicePrestataire.descriptionService }}</td>
							<td>{{ ServicePrestataire.libelleTypeService }}</td>
							<td>{{ ServicePrestataire.prixService }} €</td>
							<td>						
								<div id="oModal" class="oModal">
									<div>
										<header>
											<a href="#fermer" title="Fermer la fenêtre" class="droite">X</a><br/>
											<h2>Modification</h2>
										</header>
										<section>
											<div class="form-inline form-group row">
												<label for="service" class="col-2 col-form-label">Saisir le service : </label>						
												<input class="form-control centrage" type="text" id="service" value="Livraison de courses alimentaires" style="width:50%;" required>						
											</div>
											<div class="form-inline form-group row">
												<label for="prix" class="col-2 col-form-label">Prix du service :  </label>						
												<input class="form-control centrage" type="text" id="prix" value="100.0" style="width:50%;" required>						
											</div>
											<div class="form-inline form-group row">
												<label for="description" class="col-2 col-form-label description">Description :</label>						
												<textarea class="form-control centrage" id="description" rows="3" placeholder="Desription du service" style="width:50%; resize:none;" required>Une personne fait vos courses et vous les livres sur votre lieu de travail.</textarea>						
											</div>
											<div class="form-inline form-group row">
												<label for="services" style="padding-left : 10px;">Choisir le type de service : </label>
												<select class="form-control centrage" id="services" style="width:50%; background-color : white; padding-top : 5px; ">
													<option >Aucun choix...</option>
													<option value="tous" selected>Tous</option>
													<option value="salaries">Salariés</option>
												</select>					
												<button type="submit" class="btn btn-primary">Modifier</button>
											</div>
										</section>
										<footer class="cf">
											<a href="#fermer" class="btn droite" title="Fermer la fenêtre">Fermer</a>
										</footer>
									</div>
								</div>
								<a href="#oModal"><img src="{{ asset('images/modifier.png') }}" height="32" title="Modifier" alt="Modifier"/></a>
							</td>
							<td><a href="{{ path('vm_prestataire_deleteservice', {'id': ServicePrestataire.idService}) }}"><img src="{{ asset('images/Trash.png') }}" height="32" title="Supprimer" alt="Supprimer"/></a></td>
						</tr>
						{% endfor %}
					{% else %}
						<td> Pas de service disponible </td>
					{% endif %}
					</tbody>
				</table>
			</div>
			<div class="faq_container">
				<div class="serviceForm">
					<div class="serviceFormQues">Cliquez ici pour ajouter un service.</div>
					<div class="service_form_container">
						<div class="service_answer">
							<div id="ajoutService" class="ajoutService">
								<form method="post" action="{{ path('vm_prestataire_addservice') }}">
									<div class="form-inline form-group row">
										<label for="service" class="col-2 col-form-label text-center">Nom du service : </label>						
										<input class="form-control centrage" type="text" id="service" name="service" maxlength="50" placeholder="Service" style="width:50%;" required>						
									</div>
									<div class="form-inline form-group row">
										<label for="prix" class="col-2 col-form-label" style="padding-left:5px;">Prix du service : </label>						
										<input class="form-control centrage" type="number" min="1" value="25" id="prix" name="prix" style="width:50%;" required>						
									</div>
									<div class="form-inline form-group row">
										<label for="description" class="col-2 col-form-label description" style="padding-left : 30px;">Description :</label>						
										<textarea class="form-control centrage" id="description" name="description" rows="3" placeholder="Desription du service" style="width:50%; resize:none;" required></textarea>						
									</div>
									<div class="form-inline form-group row">
										<label for="typeService" style="padding-left : 10px;">Choisir le type de service : </label>
										<select class="form-control centrage" id="typeService" name="typeService" style="width:50%; background-color : white; padding-top : 5px;">
											{% for typeService in lesTypesService %}	
												<option value="{{ typeService.idTypeService }}">{{ typeService.libelleTypeService }}</option>						
											{% endfor %}
										</select>					
										<button type="submit" class="btn btn-primary">Ajouter</button>
									</div>
								</form>
							</div>
						</div>
					</div>        
				</div>
			</div>
			<br/>
        </div>
    </div>
</section>

<section id="commentaires" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 ">
			<p>Consultation des commentaires</p>
			<div class="form-inline form-group row">                       
				{% if lesServicesPrestataire %}
					<form method="post" action="{{ path('vm_prestataire_viewcommentaire') }}">
						<label for="servicePrestataireCommentaire" class="col-2 col-form-label text-center">Choisir le service : </label>
						<select class="form-control centrage" id="servicePrestataireCommentaire" name="servicePrestataireCommentaire" style="width:50%;">														
						{% for servicePrestataire in lesServicesPrestataire %}	
							<option value="{{ servicePrestataire.idService }}">{{ servicePrestataire.libelleService }}</option>						
						{% endfor %}
						</select>
						<button type="submit" class="btn btn-primary">Voir</button><br/>	
					</form>						
				{% else %}
					<div> Vous n'avez pas de service </div><br/>	
				{% endif %}	
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block flashbag %} 
	{% if app.session.flashbag.has('notice') %}     
        <div class="alert alert-danger">
            {% for flashMessage in app.session.flashbag.get('notice') %}
 
                {{ flashMessage }}
 
            {% endfor %}
        </div>
	{% endif %}	
{% endblock %}

{% block navbarLiens %}
	<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
			<li>
                <a class="page-scroll" href="#intro">Accueil</a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Liste services</a>
            </li>
            <li>
                <a class="page-scroll" href="#commentaires">Commentaires</a>
            </li>
			<li>
                <a class="page-scroll" href="{{ path('logout') }}">{% block connexion %}Bonjour {{ app.user.username }},{% endblock %} Déconnexion ?</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block h2Title %}
	<p class="intro-text">Page prestataire <br/>
{% endblock %}
{% block footerLiens %}
	<h3> Espace Prestataire </h3>
        <ul>
			<li> <a class="page-scroll" href="#intro"> Accueil </a> </li>
            <li> <a class="page-scroll" href="#services"> Liste services </a> </li>
            <li> <a class="page-scroll" href="#commentaires"> Commentaires </a> </li>
			<li> <a class="page-scroll" href="{{ path('logout') }}"> Déconnexion </a> </li>
        </ul>
{% endblock %}